<?xml version="1.0" encoding="utf-8"?>
<!--<!DOCTYPE u9mvc [
  <!ELEMENT u9mvc (assemblyPaths,error?,templatePath?,actions,Plugins?)>
  <!ELEMENT assemblyPaths (assembly+)>
  <!ELEMENT assembly EMPTY>
  <!ATTLIST assembly name CDATA #IMPLIED>
  <!ATTLIST assembly fileName CDATA #REQUIRED>
  <!ELEMENT error  EMPTY>
  <!ATTLIST error enabled (true|false)  #REQUIRED >
  <!ATTLIST error view  CDATA #IMPLIED>
  <!ELEMENT templatePath  (#PCDATA)>
  <!ATTLIST templatePath Encoding (Unicode|GB2312|UTF-8|UTF7)  #IMPLIED >
  <!ELEMENT actions (action+)>
  <!ELEMENT Plugins (Plugin*)>
  <!ELEMENT Plugin  (#PCDATA)>
  <!ATTLIST Plugin type (EndDoWork|EndInit|BeginInit|EndServer|BeginServer)  #IMPLIED>
  <!ATTLIST Plugin class CDATA #REQUIRED>
  <!ATTLIST Plugin assembly CDATA #REQUIRED>
  <!ELEMENT action (Redirect*)>
  <!ATTLIST action assemblyName CDATA #IMPLIED>
  <!ATTLIST action path CDATA #REQUIRED>
  <!ATTLIST action class CDATA #REQUIRED>
  <!ATTLIST action view CDATA #IMPLIED>
  <!ATTLIST action viewEncoding (Unicode|GB2312|UTF-8|UTF7)  #IMPLIED>
  <!ATTLIST action Content-Type (text_html|application_x-javascript|application_javascript|text_css|image_jpeg|image_png|image_gif)  #IMPLIED >
  <!ATTLIST action pagecache NMTOKEN  #IMPLIED>
  <!ELEMENT Redirect EMPTY>
  <!ATTLIST Redirect name CDATA #REQUIRED>
  <!ATTLIST Redirect path CDATA #REQUIRED>
]>-->

<sdn>
  <connections>
    <add name="" value=""/>
  </connections>
  <memcached server=""/>
</sdn>
